*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul, li, a{
    text-decoration: none;
    list-style: none;
    color: white;
    font-size: 20px;
}

header.menuprincipal{
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 20px;

    background-color: black;
}
